* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-y: hidden;
}

.logo-welcome-msg {
    background: #FFFFFF;
    justify-content: justify;
    display: flex;
    margin-left: 10px;
}

.bgOt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1000px;
}

.logo {
    box-shadow: 0px 0px 8px 0px #000000 10%;
    padding-top: 15px;
}

.container {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    color: #000013;
    padding: 14px 0;
}

.icon-notice {
    width: 25px;
    height: 30px;
    display: inline-flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 84px;
    left: 0;
    right: 0;
    color: #fff;
    background: #000000;
}

.items {
    display: flex;
    background-color: #e5e8e899;
    justify-content: center;
    margin-bottom: 30px;
}

.container-menu-items {
    padding-top: 20px;
    height: 412px;
    overflow: scroll;
}

.item-1 {
    display: flex;
    margin: 20px;
    padding: 10px;
    width: 198px;
    height: 196px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 12px;
    box-sizing: border-box;
}

.item-1:hover {
    background-image: url('src/assets/circleYellow.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 29px;
    background-origin: content-box;
}

.img-in-items {
    width: 130px;
    height: 100px;
    padding-bottom: 15px;
}

.anounceer {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.19428570568561554px;
    text-align: left;
}
