* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.logo-welcome-msg {
    background: #FFFFFF;
    margin:0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px #000000 10%;
    padding-top: 15px;
    margin-left: 242px;
}

h1 {
    font-family: Mark;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
    color: #000013;
    margin-left: 242px;
    padding: 14px 0;
}

.icon-notice {
    width: 25px;
    height: 30px;
    display: inline-flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 84px;
    left: 0;
    top: 719px;
    right: 0;
    color: #fff;
    background: #000000;
}

.items {
    display: flex;
    width: 1000px;
    height: 600px;
    box-sizing: content-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.container-menu-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: content-box;
    flex-wrap: wrap;
    flex-direction: column;
    background: #E5E5E5;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.item-1 {
    display: flex;
    margin: 20px;
    padding: 10px;
    width:198px;
    height: 196px;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 12px;
    box-sizing: border-box;
}

.img-in-items {
    width: 130px;
    height: 100px;
    padding-bottom: 15px;
}

.anounceer {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.19428570568561554px;
    text-align: left;
}