<!--The content below is only a placeholder and can be replaced.-->
<div class="logo-welcome-msg">
  <div class="img-word">
    <img class="logo" src="../assets/Screenshot from 2020-10-03 15-55-16.png" style="align-self:left" alt="logo">
    <hr>
    <h1>Hola, Usuario</h1>
  </div>
</div>

<div class="container-menu-items">
  <div class="items">
    <div class="item-1">
      <img class="img-in-items" src="../assets/reserve.png" alt="reserve">
      <p class="anounceer">Reserva de Salas</p>
    </div>
    <div class="item-1">
      <img class="img-in-items" src="../assets/resolution.png" alt="report">
      <p class="anounceer">Reporte de problemas</p>
    </div>
    <div class="item-1">
      <img class="img-in-items" src="../assets/team.png" alt="team">
      <p class="anounceer">Mi equipo</p>
    </div>
    <div class="item-1">
      <img class="img-in-items" src="../assets/post.png" alt="post">
      <p class="anounceer">Comunicados</p>
    </div>
    <div class="item-1">
      <img class="img-in-items" src="../assets/temperature.png" alt="temperature">
      <p class="anounceer">Ficha de síntomatología</p>
    </div>
  </div>
</div>

<footer>
  <img class="icon-notice" src="../assets/notice.png" alt="icon-notice">
  <p>En este link podrás resolver todas tus dudas sobre nuestros protocolos de cara al <a href="#">COVID-19</a></p>
</footer>